.body {
    background-color: bisque;
}

.task-list {
    display: flex;

}
.task-list_container {
    margin-right: 50px;
}
.grey {
    color: grey;
    list-style-type: none;
}
.task-list_list{
    list-style-type: none;
}
.hidden {
    display: none;
}

#btn-delete{
width: 200px;
height: 30px;
cursor: pointer;
}

#input-btn{
    cursor: pointer;
}